<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="index.css">
    <title>Ynei index sehifesi</title>
</head>
<body>
<h1>Khadija</h1>
<!--<c:forEach items="${users}" var="u">-->
<thead>
    <tr th:each="u:${users}">

        <td th:text="${u.name}"></td>
        <td th:text="${u.surname}"></td>

<!--        <td>${u.getTeachway().getTeachway()}</td>-->
<!--        <td>${u.getSubject().getSubject()}</td>-->
<!--        <td>${u.getCost()}</td>-->
    </tr>
</thead>
</body>
</html>