<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="reset.css">
</head>
<body>
<div class="login-page">
  <div class="form">
    <form action="reset" method="post">
      <input type="email" placeholder="Email..." name="email"/>
      <input type="password" placeholder="Current password" name="password"/>
      <input type="password" placeholder="New password" name="new1Password"/>
      <input type="password" placeholder="Repeat New password" name="new2Password"/>

      <button>Update password</button>
    </form>
  </div>
</div>
</body>
</html>