<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" xmlns:th="http://www.thymeleaf.org"/>
    <title>QeydiApp</title>
<!--    <!DOCTYPE html-->
<!--    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->

        <link rel="stylesheet" href="users.css" type="text/css"/>

    </head>

<body id="top">
<div class="wrapper col1">
    <div id="header">
        <div id="logo">
            <h1><b><a href="users">Qeydi</a></b></h1>

<!--            <p th:text="${user.email}"> </p>-->
        </div>
<!--        Kicik SignUp -->
        <div id="upsignup">
            <form action="sign-up" method="post" modelAttribute="signupModel">
                <input type="text" placeholder="Name" name="name" required>
                <input type="text" placeholder="Surname" name="surname" required>
                <br>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <br>
                <button id="sign">Sign up</button>
            </form>
        </div>
        <br class="clear"/>
    </div>
</div>

<!-- Menyu paneli -->
<div class="wrapper col2">
    <div id="topbar">
        <div id="topnav">
            <ul>
                <li class="active"><a href="users">Home</a></li>
                <li class="active"><a href="registration">Be Trainer</a></li>
                <li class="active"><a href="reset">Reset</a></li>
                <li class="active"><a href="resume">About me</a></li>
            </ul>
        </div>
        <br class="clear"/>

    </div>
</div>
<%--Trainer Melumatlari--%>
<div class="wrapper col3">
    <div id="center">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Teachway</th>
                <th>Subject</th>
                <th>Cost</th>
                <th>See more</th>

            </tr>
            </thead>
            <tbody>
                <tr th:each="u:${users}">

                    <td th:text="${u.name}"></td>
                    <td th:text="${u.surname}"></td>
                    <td th:text="${u.teachway.teachway}"></td>
                    <td th:text="${u.subject}"></td>
                    <td th:text="${u.cost}"></td>

<!--                    <td>${u.getName()}</td>-->
<!--                    <td>${u.getSuranme()}</td>-->
<!--                    <td>${u.getTeachway().getTeachway()}</td>-->
<!--                    <td>${u.getSubject().getSubject()}</td>-->
<!--                    <td>${u.getCost()}</td>-->
                    <td><input type="button" id="gocv" value="More info" onclick="goCv('${u.email}')"></td>
                </tr>

<!--            </c:forEach>-->
            </tbody>
        </table>
    </div>
</div>
<%--Ashagi panel--%>
<div class="wrapper col4">
    <div id="copyright">
        <h6 class="fl_left">Copyright &copy; 2023 - All Rights Reserved - Gadirova Khadija</h6>
        <br class="clear"/>
    </div>
</div>
<script src="users.js"></script>

</body>
</html>
