@charset "utf-8";


html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #f5f9fd;
}

.justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.nostart {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear {
    clear: both;
}

br.clear {
    clear: both;
    margin-top: -15px;
}

a {
    outline: none;
    text-decoration: none;
}

.fl_left,
.imgl {
    float: left;
}

.fl_right,
.imgr {
    float: right;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.imgl,
.imgr {
    border: 1px solid #DFDFDF;
    padding: 5px;
    color: #666666;
    background-color: #FFFFFF;
}

.imgl {
    margin: 0 8px 8px 0;
    clear: left;
}

.imgr {
    margin: 0 0 8px 8px;
    clear: right;
}


div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

div.wrapper h1,
div.wrapper h2,
div.wrapper h3,
div.wrapper h4,
div.wrapper h5 {
    margin: 0 0 20px 0;
    padding: 0 0 8px 0;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Trebuchet MS',
    sans-serif;
    border-bottom: 1px dotted #DDDDDD;
}

.col1 {
    color: #f37704;
    background-color: #f6f5f7;
}

.col2 {
    background: #666;
}

.col3 {
    color: #666666;
    background-color: #FFFFFF;
}

.col4 {
    color: #FFFFFF;
    background-color: #29313C;
}

#header {
    display: block;
    position: relative;
    width: auto;
    height: 80px;
    margin: 0 auto;
}

#topbar,
#intro,
#services,
#breadcrumb,
#container,
#footer,
#copyright {
    display: block;
    position: relative;
    width: auto;
    margin: 0 auto;
}


#header {
    padding: 30px 0;
    font-family: 'Trebuchet MS',
    sans-serif;
}

#header #logo {
    display: block;
    float: left;
    width: 300px;
    margin-top: 7px;
}

#header #logo h1,
#header #logo p {
    margin: 0;
    padding: 0;
    line-height: normal;
}

#header #logo h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 50px;
    border: none;
}

#header h1 a {
    color: #666;
    background-color: #f6f5f7;
}

#header #upsignup {
    float: right;
    padding: 0px 10px 10px 10px;
    border-radius: 20px 0 20px 0;
    padding-top: 15px;
    margin-right: 100px;
    color: #000000;
    background: #97979754;
}

#header #upsignup p {
    font-size: 30px;
    margin: 0 0 8px 0;
    font-family: 'Trebuchet MS',
    sans-serif;
}

#sign {
    color: #FFFFFF;
    background-color: #2e2e2e;
    margin: 10px 0 0 300px;
    border-radius: 10px 0 10px 0;
}

#center {
    padding: 100px 150px 100px 150px;

}

input.search {
    width: 80%;
    height: 30px;
    border: 3px solid #3A6C86;
    padding: 5px;
    border-radius: 20px 0 20px 0;
    outline: none;
    color: #9DBFAF;
}

#copyright {
    padding: 20px 0;

}

#copyright p {
    margin: 0;
    padding: 0;
}


#topnav ul,
#topnav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#topnav li a:link,
#topnav li a:visited,
#topnav li a:hover {
    display: block;
    margin: 0;
    padding: 15px 20px;
    color: #FFFFFF;
    /*background-color:#000550;*/
}

#topnav ul ul li a:link,
#topnav ul ul li a:visited {
    border: none;
}

#topnav li.last a {
    margin-right: 0;
}

#topnav li a:hover {
    color: #FFFFFF;
    background: #696969;
}

#topnav li li a:link,
#topnav li li a:visited {
    width: 150px;
    float: none;
    margin: 0;
    padding: 7px 10px;
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #696969;
}

#topnav li li a:hover {
    color: #FFFFFF;
    background-color: #777777;
}

#topnav li ul {
    background: #FFFFFF;
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 170px;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

#topnav li ul a {
    width: 140px;
}

#topnav li ul ul {
    margin: -32px 0 0 0;
}

#topnav li:hover ul ul {
    left: -999em;
}

#topnav li:hover ul,
#topnav li li:hover ul {
    left: auto;
}

#topnav li:hover {
    position: static;
}

#topnav li.last a {
    margin-right: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #939695;
}